body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#kolom_1{
  width: inherit;
  height: 75vh;
  background-color: #4d6e55;
  align-self: center;
  color: white;
  border-style: solid;
  border-width: thin;
  border-color:#304234;

}

#kolom_2{
  width: inherit;
  color: #4d6e55;
  height: 250vh;
  align-self: center;
}

#row {
  display: flex;
  flex-direction:column;
  width:inherit;
}

h1,h2,h3,h4{
  text-align: center;
}

h1 {
  font-size: 40px;
  position:relative;
  bottom: 30px;
}

h2 {
  font-size: 35px;
}
h3 {
  font-size: 25px;
}
h4{
  font-size: 20px;
}
p{
  font-size: 18px;
  padding: 20px;
}

#image_1{
  border-radius: 5px;
  border-color: #4d6e55;
  border-style: solid;
  border-width: thin;
  display: block;
  float: right;
  height: 30%;
  margin-left: 20px;
  position: relative;
  top: 20px;
  width: 30%;
}

#image_2{
  border-radius: 5px;
  border-color: #4d6e55;
  border-style: solid;
  border-width: thin;
  height: 45%;
  float: right;
  width:45%;
}

#header_img{
  border-color: #4d6e55;
  border-right-style: solid;
  border-right-width: thin;
  height:inherit;
  width:100%;
}

ul{
  text-align: left;
}

li{
  margin:0 20px 20px 0;
  padding-top: 10px;
  padding-left: 10px;
}

header{
  color: white;
  width:100vh;
  height:20vh;
  color: white;
}

#achtergrond_tekst_header{
  background-color:#4d6e55;
  border-radius: 5px;
  border-style:solid;
  border-width: thin;
  border-color:white;
  bottom: 80%;
  height:7vh;
  padding: 5px;
  position: relative;
  left: 35%;
  width: 30vh;
}

footer{
  background-color: #4d6e55;
  border-style: solid;
  border-width: thin;
  border-color:#304234;
  color: white;
  height: 4vh;
  margin: 0;
  padding-top:30px;
  padding-left:15px;
  padding-right:45px;
  padding-bottom:30px;
  text-align: center;
  width: 100%;
}

#attractie_2{
  background-color:#4d6e55;
  border-style: solid;
  border-width: thin;
  border-color:#304234;
  border-radius: 5px;
  color: white;
  height: 60vh;
  margin-left: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 10px;
  width: inherit;
}

  /*--------------------------------------------------------------------------*/

@media only screen and (min-width: 600px){

  h1,h2,h3,h4{
    text-align: center;
  }

  h4{
    font-size: 20px;
  }

  header{
    height:30vh;
    width:100%;
  }

  #achtergrond_tekst_header{
    position: relative;
    left:45%;
    bottom: 70%;
    height:6vh;
    width: 14vh;
  }

  #row {
    flex-direction: row;
  }

  #kolom_1 {
    width: 16.66%;
    height: 140vh;
    text-align: right;
  }

  #kolom_2 {
    width: 66.66%;
    height: 130vh;
    padding:20px;

  }

  #attractie_2{
    height: 300px;
    width:900px;
    margin-left: 160px;
  }

  #image_2{
    height: 50%;
    width:30%;
  }
  }
