@media only screen and (max-width: 600px){
  .body {
    display: flex !important;
    justify-content: space-between !important;
  }
  #kolom_1{
    width: 100% !important;
    height: 350px !important;
  }
  #kolom_2{
    width: 100% !important;
    height:1000px !important;
  }
  #row {
    display: flex !important;
    flex-direction:column !important;
  }

  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 35px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  p{
    font-size: 18px !important;}
}


h1,h2,h3,h4{
  text-align: center;
}

h4{
  font-size: 20px;
}

h3,h4{
  position: relative;
  right: 40px;
}

ul{
  text-align: left;
}

li{
  margin:0 0 10px 0;
}

header{
  width:100vh%;
  height:300px;
  position: relative;
  text-align: center;
  color: white;

}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

footer{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4vh;
  background-color: #4d6e55;
  text-align: center;
  color: white;
  padding-top:30px;
  padding-left:15px;
  padding-right:45px;
  padding-bottom:30px;
  border-style: solid;
  border-width: thin;
  border-color:#304234;
}

#header_img{
  width:100%;
  height:300px;
}

#achtergrond_tekst_header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#4d6e55;
    border-style:solid;
    border-width: thin;
    border-color:white;
    width: 160px;
    height:80px;
    border-radius: 5px;
    padding: 5px;
}

#row {
    display: flex;
    flex-direction: row;
}

#kolom_1 {
    width: 16.66%;
    height: 110vh;
    background-color: #4d6e55;
    text-align: right;
    color: white;
    padding:10px;
    border-style: solid;
    border-width: thin;
    border-color:#304234;
}

#kolom_2 {
    width: 66.66%;
    color: #4d6e55;
    height: 100vh;
    padding:20px;

}

#image_1{
    height: 30%;
    width: 30%;
    float: right;
    border-radius: 5px;
    border-color: #4d6e55;
    border-style: solid;
    border-width: thin;
    margin-left: 20px;
    position: relative;
    top: 20px;
}



#attractie_2{
  background-color:#4d6e55;
  border-radius: 5px;
  height: 300px;
  width:900px;
  margin-left: 160px;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right:20px;
  border-style: solid;
  border-width: thin;
  border-color:#304234;
}

#image_2{
  height: 30%;
  width:30%;
  float: right;
  border-radius: 5px;
  border-color: #4d6e55;
  border-style: solid;
  border-width: thin;
}
